@model OrdemServicoGridModel

@{
    ViewData["Title"] = "Ordem de serviço";
}

<h2>Ordem de serviço</h2>
<hr />
<form asp-action="Index" autocomplete="off">
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary" asp-controller="OrdemServico" asp-action="Create"><i class="fas fa-plus"></i> Novo</a>
        </div>
        <div class="col-lg-9">
            <div class="float-right">
                <div class="input-group">
                    <input asp-for="CodigoProtocoloFiltrar" class="form-group txt-codigo-protocolo-filtrar" type="text" placeholder="Informe o protocolo" />
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-default btn-dark btn-pesquisar" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-responsive-sm">
            <thead>
                <tr>
                    <th>Protocolo</th>
                    <th>Código do pedido</th>
                    <th>Paciente</th>
                    <th>Convênio</th>
                    <th>Emissão</th>
                    <th>Previsao de entrega</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrdensServicos) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CodigoProtocolo)</td>
                        <td>@Html.DisplayFor(modelItem => item.CodigoPedidoMedico)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomePaciente)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomeConvenio)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataEmissaoFormatada)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataPrevisaoEntregaFormatada)</td>
                        <td class="font-weight-bold @(item.EstaAberta ? "text-warning" : "text-success")">@Html.DisplayFor(modelItem => item.DescricaoStatus)</td>
                        <td style="text-align: center;">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>